.title{
    text-align: center;
    color: darkblue;
}
.centerimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.img{ /*tried to add border on img...did not work*/
    border: 5px solid red;
}
.centervid{
    display: block;
    margin-left: auto;
    margin-right: auto;
}